[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
troposphere = "*"

[packages]
boto3 = "*"
elasticsearch = "*"
elasticsearch-dsl = "*"
praw = "*"
prawcore = "*"
coverage = "*"

[requires]
python_version = "3.8"
